/* FONT
   ========================================================================== */
@font_family: sans-serif;
@font_size: 16px;
@font_weight: 400;

/* COLOR
   ========================================================================== */
@color_primary: #fff;
@color_secondary: #000;
@color_text: @color_primary;

/* BACKGROUND
   ========================================================================== */
@bg_primary: #fff;